.container {
  font-family: 'Playfair Display', serif;
  background-color: #7ddef2;
  border-radius: 5px;
}

form {
text-align: center;
}

h2 {
text-align: center;
}

h4 {
 text-align: right;
}

.current-weather-data-here {
text-align: left;
margin: 0;
}


.humidity {
text-align: center;
list-style-type: none;
margin: 0 auto;
height: 70px;
width: 70px;
}

.wind {
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  height: 70px;
  width: 70px;
}

.wind-tag {
  font-size: 20px;
text-align: center;
list-style-type: none;
margin: 0 auto;
height: 20px;
width: 50px;
}

.humidity-tag {
font-size: 20px;
text-align: center;
list-style-type: none;
margin: 0 auto;
height: 20px;
width: 50px;

}

footer {
text-align: center;
}