.DailyWeatherForcast {
    text-align: center;
    margin: 0 auto;
}

.Forcast-Day{
    font-size: 30px;
}
.Forecast-Max {
    font-size: 40px;
    margin: 5px;
    margin: 0 auto;
}

.Forecast-Min {
   font-size: 40px;
   opacity: 0.6;
   margin: 0px;
}